@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://rsms.me/inter/inter.css');

.circle-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
 }

 .circle {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    opacity: 1;
    /* border: #9BA7AE solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #072352;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    color: #9BA7AE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.timer{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: #072352;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    transition: all 0.5s ease-out;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    color: #9BA7AE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerOut{
    background-color: #D73737;
    color: whitesmoke;
    animation: fadeOutIn 0.5s ease-in-out infinite;
}

.points{
    position: absolute;
    height: 6vw;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease-out;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    color: #9BA7AE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leaderboards{
    overflow-y: scroll;
    display: flex;
    height: 90%;
    width: 100%;
    padding-bottom: 5%;
    flex-direction: column;
    scrollbar-width: none;
}
.leaderboards::-webkit-scrollbar{ /* Se que esto funcionará solo en chrome */
    display: none;
}

.leaderboard-pos{
    display: flex;
    flex-direction: row;
}

.position{
    color: #FF5733;
    font-family: 'Roboto', sans-serif;
    font-size: 50;
    height: auto;
    width: 10%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 2%;
}

.name{
    color: #9BA7AE;
    font-family: 'Roboto', sans-serif;
    font-size: 30;
    height: auto;
    width: 80%;
    text-align: left;
}


.screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
}
.screen2{
    height: 100vh;
    width: 150vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
}

body{
    overflow: hidden;
    background-color: #15397E;
}

.no-wrap{
    flex-shrink: 0;
  }

.right{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 10%;
}

.introduction{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10% 10% 0 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 30;
    color: #CFCFCF;
    white-space: normal;
    overflow: hidden;
}


.introduction h2{
    color: #FF5733;
}


.input {
    position: relative;
  }

.inputField{
    box-sizing: border-box;
    display: block;
    width: 30%;
    height: 6%;
    border-radius: 5px;
    border-style: none;
    color: #CFCFCF;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 100%;
    padding-left: 1%;
    background-color: #102C62;
    transition: all 0.2s ease-in-out;
}


.inputField:focus{
    transition: all 0.2s ease-in-out;
    width: 35%;
    height: 8%;
}

.inputField2{
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 7%;
    border-radius: 5px;
    border-style: none;
    color: #CFCFCF;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 100%;
    padding-left: 1%;
    background-color: #102C62;
    transition: all 0.2s ease-in-out;
}


.inputField2:focus{
    transition: all 0.2s ease-in-out;
    width: 60%;
    height: 10%;
}


.playButton{
    margin-top: 30px;
    width: 10%;
    height: 6%;
    background-color: #FF5733;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    color: black;
    transition: all 0.2s ease-in-out;
}


.butCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7%;
    margin-top: 5%;
    gap: 30px;
}
.answerBut{
    width: 20%;
    height: 100%;
    background-color: #FF5733;
    border-radius: 5px;
    text-align: center;
    line-height: 9px;
    color: black;
    transition: all 0.2s ease-in-out;
}
.answerBut h2{
    font-size: 25px;
    font-weight: bold;
    color: black;
    user-select: none;
}

.answerBut:hover{
    background-color: #C70039;
    transition: all 0.2s ease-in-out;
}
.passBut{
    width: 15%;
    height: 75%;
    background-color: #072352;
    border-radius: 5px;
    text-align: center;
    line-height: 10px;
    color: black;
    transition: all 0.2s ease-in-out;
}
.passBut h2{
    font-size: 15px;
    font-weight: 400;
    color: #CFCFCF;
    user-select: none;
}

.passBut:hover{
    background-color: #C70039;
    transition: all 0.2s ease-in-out;
}

.playButton:hover{
    background-color: #C70039;
    transition: all 0.2s ease-in-out;

}

.correct{
    background-color: #22A92C;
    color: whitesmoke;
}

.incorrect{
    background-color: #D73737;
    color: whitesmoke;
}

.seled{
    animation: fadeOutIn 2s ease-in-out infinite;
    background-color:#0D69A9;
}

.notification{
    position: absolute;
    transform: translate(200%, -90%);
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 25px;
    background-color: #CFCFCF;
    border-radius: 5px;
    opacity: 0;
    transition: all 1s ease-in-out;
    color: black;
    font-family: 'Roboto', 'sans-serif';
}

.notification2{
    position: absolute;
    top: 0;
    transform: translateX(500%);
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 25px;
    background-color: #CFCFCF;
    border-radius: 5px;
    opacity: 0;
    transition: all 1s ease-in-out;
    color: black;
    font-family: 'Roboto', 'sans-serif';
}


.show{
    opacity: 1;
}

.noti{
    animation: fadeInOut 2s ease-in-out;
}

.playButton h2{
    font-weight: bold;
    color: black;
    user-select: none;
}
@media (max-width: 500px) {
     .screen{
        flex-direction: column;
    } 

    .right{
        width: 100%;
    }

    .circle-wrapper{
        width: 100%;
    }
    body{
        overflow-y: visible;
    }
}

.cantStart{
    animation:linear 0.2s cantStart;
}

.welcome{
    animation: questionIn 0.5s ease-out forwards;
    opacity: 1;
}

.questionIn{
    animation: questionIn 0.3s ease-out forwards;
}

.questionOut{
    animation: questionOut 0.3s ease-in forwards;
}

.questionWrong{
    animation: questionWrong 0.3s ease-in forwards;
}

.questionPass{
    animation: questionPass 0.3s ease-in forwards;
}

.slideLeft{
    animation: slideLeft 0.3s ease-in forwards;
}
.slideRight{
    animation: slideRight 0.3s ease-in forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10%{
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOutIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cantStart {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes questionIn {
    0% {
        transform: translateY(900px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes questionOut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-900px);
    }
}

@keyframes questionWrong {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(900px);
    }
}

@keyframes questionPass {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(900px);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}